{% extends 'base.html.twig' %}

{% block title %}Déposer un matériel
{% endblock %}

{% block body %}
	<div class="container mx-auto my-10 px-6 lg:px-20">
		<header class="mb-8">
			<h1 class="text-4xl font-bold text-primary">Déposer un matériel</h1>
		</header>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success shadow-lg mb-4">
				{{ message }}
			</div>
		{% endfor %}

		<section class="bg-base-100 shadow-md rounded-lg p-6">
			{{ form_start(form) }}

			<input type="hidden" name="location" value="{{ id }}">

			<div class="form-control mb-4">
				{{ form_label(form.first_name, null, {'label_attr': {'class': 'label-text font-semibold'}}) }}
				{{ form_widget(form.first_name, {'attr': {'class': 'input input-bordered w-full'}}) }}
				<div class="text-error text-sm">
					{{ form_errors(form.first_name) }}
				</div>
			</div>

			<div class="form-control mb-4">
				{{ form_label(form.last_name, null, {'label_attr': {'class': 'label-text font-semibold'}}) }}
				{{ form_widget(form.last_name, {'attr': {'class': 'input input-bordered w-full'}}) }}
				<div class="text-error text-sm">
					{{ form_errors(form.last_name) }}
				</div>
			</div>

			<div class="form-control mb-4">
				{{ form_label(form.email, null, {'label_attr': {'class': 'label-text font-semibold'}}) }}
				{{ form_widget(form.email, {'attr': {'class': 'input input-bordered w-full', 'type': 'email'}}) }}
				<div class="text-error text-sm">
					{{ form_errors(form.email) }}
				</div>
			</div>

			<div class="form-control mb-4">
				<label for="location" class="label-text font-semibold">Localisation</label>
				<input type="text" id="location" class="input input-bordered w-full" value="{{ locationName }}" readonly>
			</div>

			<div class="mt-6">
				<button type="button" id="toggleDropdown" class="btn btn-link">Renseigner plus</button>
			</div>

			<div id="dropdownOptions" class="hidden mt-4 p-4 bg-gray-100 rounded-lg shadow-md">
				<div class="grid grid-cols-4 gap-4">
					<div class="form-control">
                        {{ form_label(form.screen) }}
						{{ form_widget(form.screen, {'attr': {'class': 'toggle toggle-success'}}) }}
						
					</div>
					<div class="form-control">
                        {{ form_label(form.oxidationStatus) }}
						{{ form_widget(form.oxidationStatus, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">                    
						{{ form_label(form.hinges) }}
						{{ form_widget(form.hinges, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.fan) }}
						{{ form_widget(form.fan, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.button) }}
						{{ form_widget(form.button, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.sensors) }}
						{{ form_widget(form.sensors, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.chassis) }}
						{{ form_widget(form.chassis, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.dataWipe) }}
						{{ form_widget(form.dataWipe, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.computerUnlock) }}
						{{ form_widget(form.computerUnlock, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.driver) }}
						{{ form_widget(form.driver, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.computerUpdate) }}
						{{ form_widget(form.computerUpdate, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.motherboard) }}
						{{ form_widget(form.motherboard, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.networks) }}
						{{ form_widget(form.networks, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.components) }}
						{{ form_widget(form.components, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.battery) }}
						{{ form_widget(form.battery, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
					<div class="form-control">
						{{ form_label(form.powerSupply) }}
						{{ form_widget(form.powerSupply, {'attr': {'class': 'toggle toggle-success'}}) }}
					</div>
				</div>
			</div>

			<div class="form-control mt-6">
				{{ form_widget(form.submit, {'attr': {'class': 'btn btn-success w-full'}}) }}
			</div>
			{{ form_end(form) }}
		</section>
	</div>

	<script>
		document.getElementById('toggleDropdown').addEventListener('click', function () {
            let dropdown = document.getElementById('dropdownOptions');
            dropdown.classList.toggle('hidden');
        });
	</script>
{% endblock %}
